[Unit]
Description=Minoru's Fediverse crawler
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=fedicrawler
WorkingDirectory=/home/fedicrawler
ExecStart=/home/fedicrawler/minoru-fediverse-crawler
Restart=always
# The service should normally finish within three seconds, so 5 is plenty.
TimeoutSec=5

[Install]
WantedBy=multi-user.target
